.highlight-text {
    background-color: #24292F; /* Fundo preto */
    color: white;            /* Texto branco */
    padding: 10px;           /* Espaçamento interno */
    display: inline-block; 
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
  }
