.container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .row-custom {
    max-width: 800px; /* Ajuste o valor conforme necessário */
    margin: auto;
  }
  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-img {
    width: 100%;
    max-width: 400px; /* Ajuste a largura conforme necessário */
    height: 300px; /* Altura fixa */
    object-fit: cover; /* Mantém a proporção da imagem e cobre todo o espaço */
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
  }
  .text-justify {
    text-align: justify;
  }